* {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100%;
}
#logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
}
nav {
  background-color: #393d67;
  padding: 16 0;
  width: 100%;
}
